<div class='panel-group' id='group-{{id}}'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h4 class='panel-title'>
                {{#if show-assigns-due}}
                    <span class='pull-right'><span class='badge'>{{assigns-due}} </span></span>
                {{/if}}
                <a data-toggle='collapse' data-parent='#main-accordion' href='#{{id}}' class='duegroup-title'>{{title}}</a>
            </h4>
        </div>
        <div id='{{id}}' class='panel-collapse collapse {{#if collapse}}in{{/if}}'>
            <div class='panel-body'>
                <ul class='assign-list'>
                    {{#if show-due-dates}}
                        {{#each assigns}}
                            <li class='assign-li' id='{{id}}'>
                                {{> assign_cb}}
                                <b>
                                    <span class='pull-right'><span class='text-danger overdue-days'>{{prettyDaysOverdue due}}</span> {{prettyDate due}}</span>
                                    {{class-name}}: {{> assign_name}}
                                </b>
                            </li>
                        {{/each}}
                    {{else}}
                        {{#each assigns}}
                            <li class='assign-li' id='{{id}}'>
                                {{> assign_cb}}
                                <b>
                                    {{class-name}}: {{> assign_name}}
                                </b>
                            </li>
                        {{/each}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</div>